[Unit]
Description=Déclenche la sauvegarde Odoo chaque nuit à 02h00

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
